black==25.1.0
certifi==2025.1.31
click==8.1.8
coverage==7.6.12
iniconfig==2.0.0
-e file:///Users/dmitriy/Work/MONEI/monei-python-sdk
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pytest==8.3.5
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
ruff==0.9.9
setuptools==75.8.2
six==1.17.0
urllib3==2.3.0
